* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #16181d;
    --principal-color-red: #E3646E;
    --principal-color-purple: #BB72E9;
    --principal-color-blue: #3996DB;
    --principal-color-green: #82BC4F;
    --principal-color-yellow: #EABD5F;

    --base-color-gray100: #0D0E11;
    --base-color-gray200: #16181D;
    --base-color-gray300: #292C34;
    --base-color-gray400: #878EA1;
    --base-color-gray500: #C0C4CE;
    --base-color-gray600: #E2E4E9;

    --font-title: "Asap", sans-serif;
    --font-sub: "Inconsolata", monospace;
    --font-text: "Maven Pro", sans-serif;

    --title-lg: 700 56px/120% var(--font-title);
    --title-md: 700 24px/120% var(--font-title);
    --title-sm: 700 16px/120% var(--font-title);
    --subtitle: 400 20px/120% var(--font-sub);
    --text-md: 400 16px/140% var(--font-text);
    --text-sm: 400 14px/140% var(--font-text);
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    background-color: var(--background-color);


    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}