header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/Background_Intro.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1399px;
    height: 750px;
}

.profile-container {
    align-items: center;
    position: relative;
    display: inline-block;
}

.profilepic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 3px solid var(--principal-color-red);
    overflow: hidden;
    margin-bottom: 56px;

}

.profilepic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icondev {
    position: absolute;
    bottom: 45px;
    right: 1px;
    width: 30px;
    height: auto;
}

.primary {
    font-family: var(--font-sub);
    color: var(--base-color-gray500);
    text-align: center;
    margin-bottom: 6px;
}

.secondary {
    font: var(--text-sm);
    color: var(--base-color-gray400);
    margin-bottom: 80px;
}

span {
    color: var(--principal-color-red);
}

h1 {
    font: var(--title-lg);
    color: var(--base-color-gray600);
    text-align: center;
    margin-bottom: 20px;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 754px;
    height: 40px;
}

.grid figure {
    display: flex;
    align-items: center;
    text-align: center;
    font: var(--text-md);
    color: var(--base-color-gray500);
}

.card {
    align-items: center;
    background-color: var(--base-color-gray300);
    padding: 8px 16px 8px 16px;
    gap: 16px;
    border-radius: 999px;
}

.arrowdown {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
}