header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 94px;
    background-image: url(../assets/images/Background_Intro.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-container {
    align-items: center;
    position: relative;
    display: inline-block;
}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 3px solid var(--principal-color-red);
    overflow: hidden;
    margin-bottom: 56px;

}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-dev {
    position: absolute;
    bottom: 45px;
    right: 1px;
    width: 30px;
    height: auto;
}

.p-header-a {
    font-family: var(--font-sub);
    color: var(--base-color-gray500);
    text-align: center;
    margin-bottom: 6px;
}

.p-header-b {
    font: var(--text-sm);
    color: var(--base-color-gray400);
    margin-bottom: 80px;
}

span {
    color: var(--principal-color-red);
}

h1 {
    font: var(--title-lg);
    color: var(--base-color-gray600);
    text-align: center;
    margin-bottom: 20px;
}

.grid-header {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 754px;
    height: 40px;
}

.grid-header figure {
    display: flex;
    align-items: center;
    text-align: center;
    font: var(--text-md);
    color: var(--base-color-gray500);
}

.card {
    align-items: center;
    background-color: var(--base-color-gray300);
    padding: 8px 16px 8px 16px;
    gap: 16px;
    border-radius: 999px;
}

.arrow-down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 50px;
}